<%- include("header") -%>

<div class="box">

  <form action="/save" method="post">
    <button class="back-btn" type="submit" name="save">←</button>
  </form>

  <h2 class="title"><%= listTitle %></h2>

  <div class="list">
    <% listItems.forEach(function(listItem) { %>
    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%= listItem._id %>" onchange=this.form.submit()></input>
        <p><%= listItem.name %></p>
      </div>
    </form>
    <% }) %>
  </div>

  <form class="input" action="/" method="post">
    <input type="text" name="listItem" placeholder="To-Do" autofocus required autocomplete="off">
    <input type="hidden" name="status" value="addItems"></input>
    <button class="add-btn" type="submit" name="submit">+</button>
  </form>

</div>

<%- include("footer") -%>
